*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*making the utility styles for common attributes and classes*/
body{
    font-family: roboto, arial, sans-serif;
    text-decoration: none;
    min-height: 140vh;
    background: #f1f3f6;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.fa{
    margin: 0px 4px;
}

.fa-angle-down{
    font-weight: lighter;
    margin: 0;
}

.fa-user{
    border-radius: 50%;
}

/* styling the navigation and heading */
.heading_navigation{
    background-color:#2874f0;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav_container{
    align-items: center;
    max-width: 1248px;
    margin: auto;
    width: 100%;
    position: relative;
    left: 61px;
}

.logo{
    flex-direction: column;
    width: fit-content;
}

.anchor{
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}

.flip_logo img{
    width: 130px;
}

.anchor:hover{
    text-decoration: underline;
}

.search_bar_container{
    min-width: 304px;
    width: 708px;
}

.search_bar{
    max-width: 564px;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0px 2px 4px rgb(0 0 0 /23%);
}

.search_box{
    outline: none;
    padding: 0px 16px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    border: 0;
    width: 100%;
    font-size: 14px;
}

.btn_search{
    background: #fff;
    border: 1px solid #fff;
    padding: 4px 12px 4px 8px;
    width: 44px;
    height: 36px;
    cursor: pointer;
    border-radius: 0px 2px 2px 0px;
    color: #2874f0;
    font-size: 19px;
}

.login{
    position: relative;
    left: 45px;
}

.login_btn{
    color: #2874f0;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    background: #fff;
    letter-spacing: 1px;
    height: 32px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px; 
}

.more , .cart{
    position: relative;
    left:45px;
}

.more_lan , .cart_lan{
    color: white;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    font-size: 16px;
}

.heading_categories{
    background: #fff;
    justify-content: center;
    min-height: 112px;
    border-bottom: 2px solid lightgray;
}

.heading_category_list{
    list-style: none;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
}

.heading_category_items{
    padding: 12px 8px;
    cursor: pointer;
    text-align: center;
}

.heading_category_items:hover{
    color: #2874f0;
}

.cat_image{
    height: 64px;
    width: 64px;
    margin-bottom: 3px;
}

.heading_item_name{
    font-size: 14px;
    font-weight: 550;
}

.heading_category_items:first-child{
    padding-left: 22px;
}

.heading_category_items:last-child{
    padding-right: 22px;
}

/*styling dropdown menu */
.pointer{
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
    position: relative;
    top: 10px;
    left: 50%;
}

.login_dropdown , .more_dropdown{
    position: relative;
    top: 12px;
}

.more_dropdown{
    right: 40px;
}

.login_dropdown_list , .more_dropdown_list{
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: max-content;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
    min-width: 240px;
    transform: translate(-30px);
}

.login_dropdown_li , .more_drop_li{
    padding: 16px 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    cursor: pointer;
}

.login_drop_li:last-child , .more_drop_li:last-child{
    border-bottom: none;
}

.login_drop_li:first-child{
    padding: 20px;
}

.login_drop_li:first-child:hover{
    background: #fff;
}

.login_drop_li:hover , .more_drop_li:hover{
    background: #fafafa;
}

.new_login{
    font-weight: bold;
}

.sign_li{
    justify-content: space-between;
    font-size: 14px;
}

.sign_up{
    text-decoration: none;
    color: #2874f0;
}

.more:hover .more_lan{
    position: relative;
    top: 10px;
}

.more_pointer{
    left: 80%;
}

.more_icon{
    width: 25px;
    color: #2874f1;
}

.login:hover .login_dropdown , .more:hover .more_dropdown{
    display: block;
}


/*<!--banner section-->*/
.banner{
    width: 100%;
    overflow:hidden;
}
.slider{
    display: flex;
    width: 4000px;
    position: relative;
    animation-name: slide;
    animation-duration: 15s;
}
.slider img{
    width: 100%;
}
@keyframes slide{
    0%{
        left: 0px;
    }
    36.66%{
        left: 0px;
    }
    33.33%{
        left: -1349px;
    }
    60%{
        left: -1349px;
    }
    66.66%{
        left: -2698px;
    }
    93.33%{
        left: -2698px;
    }
    100%{
        left: -4047px;
    }
}
/* mobile section*/
.card{
    box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius:5px ;
}
.common-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}

.common-heading-left h1{
    font-size: 20px;
    font-weight: 400;
    padding: auto;
}
.common-heading-left h2{
    font-size: 15px;
    padding: 5px 0px;
    color: rgb(145,141,138);
    font-weight: 200;
}
.common-heading-right button{
    width: 90px;
    height: 40px;
    font-size: 15px;
    background-color: #2874f0;
    border: none;
    color: white;
    border-radius: 2px;
}
.common-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 166px;
    margin: 10px 0px;
}
.common-col{
    text-align: center;
    line-height: 22px;
}
.common-col img{
    width: 69px;
    height: 120px;
    transition: 300ms;
}
.common-col img:hover{
    transform: scale(0.9);
}
.common-col h3,h4,h5{
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}
.common-col h3{
    margin-top: 10px;
    font-size: 16px;
}
.common-col h4{
    color: green;
    font-size: 14px;
    font-weight: 300;
}
.common-col h5{
    color: rgb(161,161,161);
    font-size: 12px;
    font-weight: 100;
}
/*headphone and speaker*/
.col-headphones img{
    width: 125px;
    height: 150px;
}

/* furniture section*/
.col-furniture img{
    width: 130px;
    height: 150px;
}

footer{
    background-color: #172337;
    height: 332;
}
.footer-row{
    width: 100%;
    height: 270px;
    display: flex;
    padding: 10px 30px;
}
.footer-row2{
    display: flex;
    border-top: 1px solid #454d45;
    justify-content: space-evenly;
}
.footer-col-1{
    color: gray;
    width: 15%;
}
.footer-col-2{
    color: gray;
    width: 20%;
}
.footer-col-3{
    color: gray;
    width: 20%;
}
.footer-col-4{
    color: gray;
    width: 15%;
}
.footer-col-5{
    color: gray;
    width: 20%;
    border-left: 1px solid #454d5e;
    height: 120px;
    padding-left: 10px;
}
.footer-col-6{
    color: gray;
    width: 20%;
    padding-left: 50px;
}